body {
  font-family: "Lato", sans-serif;
}

.sidepanel  {
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #454545;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  height: 100%;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cc9933;
  display: block;
  transition: 0.3s;
  font-family: "Comic Sans MS"
}

.sidepanel a:hover {
  color: #ffffff;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
